.main{
    height: 100vh;
    width: 100vw;
    text-align: center;
    background: #77a325; 
    background: linear-gradient(-45deg, rgb(212, 72, 205) , rgb(106, 213, 240));  
}

.mat-mdc-button-base {
    margin: 8px 16px 8px 16px;
    font-size: 1.1em;
}

.buttons{
    margin-top: 3rem;
}

.dropdown {
  margin-top: 1rem;
  fill: midnightblue;
}