.container{
    width: 70%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    transition: height 1s;
}
h4{
    color: rgb(212, 72, 205);
    font-weight:500;
}

.count{
width: 100%;
height: 100%;
font-size: 6rem;
color: white;
text-align: center;
font-family: sans-serif;
margin-top: 5rem;
margin-bottom: 1rem;
}

.example-radio-group {
display: flex;
flex-direction: column;
margin: 15px 0;
}


.row{
    display: grid;
    grid-template-columns: repeat(2, 200px);
    padding-top: 2rem;
    width: 100%;
    justify-content:space-between;
    grid-column-gap: 1rem;
}

.col{
    width: 45%;
    align-self: center;
}

.paceMode{
    margin-top: 2rem;
}

.tempo{
    color: yellow;
}
.sakin{
    color: chartreuse;
}

.images{
    display: block;
    transform: translateY(50%);
    position: fixed;
}
img{
    width: 100vw;
}