<div class="container" *ngIf="timeMenuOpened" [@inOutAnimation]>
    <div class="row">
        <div class="col">
            <h4>Tempolu sure</h4>
            <mat-radio-group
            aria-labelledby="example-radio-group-label"
            class="example-radio-group"
        (change)="onHardDurationChange($event)">
        @for (duration of durationList; track duration) {
            <mat-radio-button class="example-radio-button" [checked]="duration == 20" [value]="{duration}">{{duration}}</mat-radio-button>
        }
        </mat-radio-group>
        </div>
        <div class="col">
            <h4>Sakin sure</h4>
            <mat-radio-group
            aria-labelledby="example-radio-group-label"
            class="example-radio-group"
            (change)="onSlowDurationChange($event)">
            @for (duration of durationList; track duration) {
                <mat-radio-button class="example-radio-button" [checked]="duration == 10" [value]="{duration}">{{duration}}</mat-radio-button>
            }
        </mat-radio-group>
        </div>
    </div>
    <!-- <h2 class="paceMode" [ngClass]="isHardPace ? 'tempo' : 'sakin'">{{isHardPace ? "Tempo" : "Sakin"}}</h2> -->
</div>
<div class="timer">
    <div class="count">{{display}}</div>
</div>
<div class="images">
    <img *ngIf="isHardPace && isStarted" src="https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExamp3dDRoeXJ5d2pqdGxtZXc1bDJjaGEwZHExMzQ1NW8zc2M5Zm11OCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/fBEMsUeGHdpsClFsxM/giphy.webp" alt="">
    <img *ngIf="!isHardPace && isStarted" src="https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExOG4wZnpqcWg2ZDJtY2VyZ2FuM2dvdjZpcHdnNG1iZGxqYnV2aWl1OCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/O2qY09T4PxnO2asQ3X/giphy.webp" alt="">
</div>
